@media only screen and (max-width: 600px) {
	#date-picker-overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 9;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.6);
	}
}

.date-picker-wrapper {
	display: inherit;
	align-items: inherit;
}
